PORT=
JWT_SECRET=
JWT_EXPIRES_IN=
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=


GITHUB_CLIENT_ID=your_client_id
GITHUB_CLIENT_SECRET=your_client_secret
GITHUB_CALLBACK_URL=http://localhost:5000/api/github/callback
GITHUB_TOKEN_ENCRYPTION_KEY=your_32_byte_key

